.relative {
  position: relative;
}

// .container is main centered wrapper
.container {
  margin: 0 auto;
  max-width: 90%;
  padding: 0 $container-padding;
  position: relative;
  width: 100%;
}

.container-light {
  margin: 5px auto;
  max-width: 100%;
  min-height: 5rem;
  padding: 0;
  position: relative;
  width: 100%;
  background-color: $color-bg;
  border : 1px solid $color-bg2;
}

.container-menu {
  padding: 10px;
  display: grid;
  max-width: 100%;
  justify-content: initial;
  justify-items: left;
  grid-template-columns: 50px auto 15%;
  width: 100%;
  border-bottom: 2px solid #e0b3ba;
  margin-bottom: 20px;
  color: #69c;
}

.container-footer {
  padding: 10px;
  display: grid;
  max-width: 100%;
  justify-content: space-between;
  justify-items: end;
  width: 100%;
  border-top: 2px solid #e0b3ba;
  margin-top: 20px;
  color: #69c;
}

.container-red {
  padding: 10px;
  display: grid;
  max-width: 100%;
  justify-items: center;
  align-content: center;
  width: 100%;
  margin-bottom:30px;
  background-color: rgba(220, 53, 69, 0.18);
  border: 1px solid $color-alert;
  color: $color-alert;
}

.container-top {
  margin: 0 auto;
  display: grid;
  max-width: 100%;
  padding: 0;
  width: 100%;
  grid-column-gap: 25px;
  justify-content: space-between;
  align-items: stretch;
  grid-template-rows: auto;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
          "chart grid1"
          "grid2 grid2"
}

.breadcrumbs {
   display: flex;
    & .breadcrumbs-item {
    }
    & .breadcrumbs-item:not(:last-child):after {
        content:' >';
    }
}

.container-main {
  margin: 0 auto;
  display: grid;
  max-width: 100%;
  grid-template-columns: 3fr 1fr;
  grid-column-gap: 10px;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
 }

.container-details {
  margin: 0 auto;
  display: grid;
  max-width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  & .flag {
    margin-right: 10px;
  }
  & .block-caption {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.1px;
    margin-top:10px;
  }
  & .block-title {
    font-size: 35px;
    font-weight: 400;
    color: #898d8d;
    margin-top:15px;
  }
  & .block-height {
    font-size: 70px;
    font-weight: 500;
    color: #000;
    margin-top:15px;
    white-space: nowrap;
  }
  & .block-txs {
    font-size: 35px;
    font-weight: 300;
    color: #000000;
    margin-top:15px;
  }
  & .block-txs-label {
    font-size: 15px;
    font-weight: normal;
    color: #898d8d;
  }
  & .block-size {
    font-size: 18px;
    font-weight: normal;
    color: #898d8d;
    margin-top:15px;
  }
  & .block-time {
    font-size: 18px;
    font-weight: normal;
    color: #898d8d;
    margin-top:10px;
  }

  & .block-subgrid {
    margin-top:20px;
    display: grid;
    max-width: 100%;
    grid-template-columns: 1fr 1fr;
    & .block-subgrid-col {
      width: 100%;
    }
  }
}

#reactgooglegraph-1 path { cursor: pointer; }
#reactgooglegraph-2 .google-visualization-table-tr-even {
    cursor: pointer;
    font-size: 12px!important;
    line-height: 1.45em;
    font-weight:200;
}
#reactgooglegraph-2 .google-visualization-table-tr-odd {
    cursor: pointer;
    font-size: 12px!important;
    font-size: 12px!important;
    line-height: 1.45em;
    font-weight:200;
}
.google-visualization-table-div-page [role="button"] {
  font-size: 14px!important;
}

.google-visualization-table-div-page {
    display: flex!important;
    justify-content: flex-end;
    flex-direction: row;
    line-height: 1em!important;
    padding: 4px!important;
    height: 25px!important;
}

.goog-custom-button-collapse-right {
    order: 1;
}

.goog-custom-button-collapse-left {
    order: 3;
}
.google-visualization-table-page-numbers {
    order: 2;
      & .current {
          background: transparent!important;
          border-style: none!important;
          font-weight: 600!important;
      }
      & .google-visualization-table-page-number {
          display: inline!important;
          border: 0!important;
          font-size: 14px!important;
          font-weight: 200;
      }
      & .gradient {
      }
}



